# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Secrets / local env
.env
*.pem
*.key

# OS
.DS_Store
terraform/lambda/remediate.zip